// PAGE
$celeste: rgb(155, 233, 235);

// LAYOUT
$red: rgb(197, 64, 57);
$lightgrey: rgb(224, 230, 233);
$darkgrey: rgb(179, 191, 196);
$turquoise: rgb(93, 203, 200);
$darkcyan: rgb(0, 139, 139);
$white: rgb(255, 255, 255);